/* MH_DANG_NHAP */
.title{
    background: #e8ad26;
    height:3.5rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600
}
.btn-warning{
    background: #e8ad26;
    color: #fff;
    width: 90%;
    margin: 1rem auto
}
.btn:hover{
    background: none;
    border: 1px solid #e8ad26;
    color: #e8ad26
}

/* MH_DANH_SACH_MAT_HANG */
header{
    background: #3a3d40;
    color: #fff;
    height: 72px;
}
header h6, header p{
    margin: 0;
    padding: 0;
    line-height: 1.3rem
}
