@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'UTMNeutra';
    src: url('../fonts/UTMNeutra.ttf');
}
body{ font-family:Arial, Helvetica, sans-serif; font-size:14px;
	margin: 0; padding: 0;
}
#btn_top {
    display: none; 
    position: fixed; 
    bottom: 30px;
    right: 30px; 
    z-index: 10000; 
    border: none; 
    outline: none; 
    color: #f00;
    height: 86px;
    width: 57px;
    background: none;
    cursor: pointer;
}

.title h1{ color: #c17118 ; font-size: 30px; font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
 }
.title-vang
{
	background-image: url(../images/hoa-chan-tieu-de.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	padding-bottom: 20px;
	font-family: UTMNeutra;
	margin-top: 20px;
}
.title-footer
{
	background-image:url(../images/hoachan-tde-footer.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	padding-bottom: 15px;
	
	}
.title-trang
{
	background-image: url(../images/hoa-chan-td-dat-mon-online.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	padding-bottom: 20px;
	font-family: UTMNeutra;
}
.active{background: #ffbb18;}



.menu{ background:rgba(0,0,0,0.7); height:60px; width:100%; position:fixed; top:0; left:0;
	border-bottom: 3px solid #ffbb18; z-index: 100000000;
}
.logo{float: left;}
nav ul{list-style: none; margin: 0; padding: 0;}
nav ul li{float: left;}
nav ul li a{
	text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 12px;
    line-height: 5px;
}

nav ul li a:hover{
	background: #ffbb18;
}
.social
{
	float: right;
}
.social i
{
	float: left;
    color: #ffbb18;
    display: block;
    padding: 18px 10px;
    font-size: 21px;
}
.social-footer i
{ 
	margin: 10px;
	font-size: 20px;
}
.nav-menu{margin-top: 36px; float: left; margin-left: 20px;}

#thucdon{background: #e7eded;
  padding-top: 30px;
}

.danhmuc .ctdm{ background-color:rgba(0,51,51,0.7); border:1px solid #FC3;
	 position: relative; overflow: hidden;}
.ctdm img{width: 100%; transform: scale(1);}
.info-dm
{
	width: 45%;
	height: 100%;
	background:rgba(0,0,0,0.6);
	position: absolute;
	top: 0px;
	left: -200px;
	color: #fff;
	text-align: right;
	padding-right: 10px;
}
.danhmuc .ctdm, .info-dm, .ctdm img
{
	transition:all 0.5s linear;
}
.danhmuc .ctdm:hover .info-dm
{
  left: 0px;
}
.ctdm:hover img
{
	transform: scale(1.2);
}
section{min-height:800px; text-align:center;}

.datban
{
	padding-top: 70px;
	background: url(../images/hoavan-nen-datban.png);
}
.anh-datban
{
	margin-top: 10%;
}
.anh-datban img{
	border: 1px solid #ffbb18;
	width: 100%;
}
.form-datban
{
	border-radius: 100%;
	background: rgba(192,109,13,0.2);
	border: 1px solid #ffbb18;
	height: 430px;
}
.title-datban{padding-bottom: 10px;!important;}
.form-datban .title
{
	padding-top: 30px;
}
.dien-form 
{
	color: #9b7304;
	padding: 10px 60px;
	font-size:20px;
}
.form-datban label
{
	color: #c17215;
	text-align: left;
}
.form-datban input
{
	width: 70%;
	height: 30px;
	padding-left: 10px;
	border: 1px solid #ffbb18;
	background: none;
}
.form-datban button
{
	color: #fff;
	background: #c17215;
	border: none;
	width: 150px;
	height: 30px;
	cursor: pointer;
}
.mangve
{
	padding-top: 20px;
	background-image: url(../images/bg_datmon.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 462px;
}
.cuahang 
{
	background-color: #e7eded;
}
.ban_do
{
	border: 1px solid #000;
	height: 448px;
}
.nhuongquyen
{
	min-height: 462px;
	background: #fff;
}
footer
{
	background: #191919;
	min-height: 250px;
}
.content-footer 
{
	text-align: center;
	color: #fff;
}


#btn_menu{ 
	 height:40px; 
	 width:40px;
	 color:#fff;
	 display:block;
	 font-size:18px; 
	 background-color: #ffbb18;
	 text-align: center;
	  line-height:40px;
     position:absolute;    
     right: 140px;
    top: 10px;
     cursor:pointer;
     border-radius: 5px;
     display:none;

}
#nutbam{display:none;}
#nutbam:checked ~ .container nav{display:block;}
#nutbam:checked ~ .container nav ul li a{line-height:30px;}




@media screen and (max-width:1000px){

 	nav{  display: none;
          position: absolute;
          left: 0px;
          height:auto;
          top: 24px;
 	    }
  	#btn_menu{display:block}
  	.nav-menu{float: none;
  		    width: 100%;
  		    margin-left: 0px;
  		    background:#868485;
  		    transition:all 1s linear;
  	}
  	nav ul li{float:none; 
  		     width:100%;
  	         padding-left: 10px;
  	         height: 40px;
  	         line-height: 40px;
  	}
  	/*nav ul li:hover{background: #ffbb18;}*/
  	.active{background: none}
	nav ul li a{font-size:14px; width: 100%; height: 40px; display: block;}
	header{height:auto}
	.logo img
	{
		width: 75%;
	}
}
	

/*--- STYLE CHO tablet tối đa 768 trở xuống*/
@media screen and (max-width:768px){
  .bg_slider li h1{padding:0px 0px;}
}
/*--- STYLE CHO Sphone tối đa 480 trở xuống*/
@media screen and (max-width:480px){

.map
{
	display:none;
}
}