body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

nav ul li a {
    padding: .3rem 2rem
}

.danhmuc .ctdm {
    background: none
}

#btn_top {
    color: #ffbb18
}

.btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-size: .9rem
}

.btn-success {
    background: #ffbb18;
    border: 0;
    color: #3a3a3c
}

.btn-danger {
    background: #3a3a3c;
    border: 0;
}


/* HEADER */

header {
    background: #3a3d40;
    color: #fff;
    height: 72px;
}

header h6,
header p {
    margin: 0;
    padding: 0;
    line-height: 1.3rem;
}

/* SEARCH */
.btn{
    border-radius: 0
}
.search{
    position: relative;
}
.search i{
    position: absolute;
    top:.6rem;
    right:1rem;
    opacity: .5;
}

/*NARBAR*/

.navbar {
    padding: 0
}

.nav-link {
    padding: 1.5rem 2rem
}

.navbar-brand {
    padding: 0
}

.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffbb18;
    background: none
}

.carousel-inner {
    position: relative;
}

.navbar {
    position: absolute;
    width: 100%
}

.bg-dark {
    opacity: .85;
}

.alert {
    margin-bottom: 0
}


/* MH-DAT-HANG */

table {
    font-size: .9rem
}

/* LIÊN HỆ */
#contact{
    background: #3a3d40;
    min-height: 500px
}
#contact h4{
    color: #ffbb18
}
#contact input, #contact textarea {
    background: #575b5e;
    border: none;
    color: #fff
}
#contact input{
    height: 2rem;
}